:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}


.container {
  padding: 2rem;
}

.header {
  display: flex;
  position: sticky;
  top: 0;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  background-color: #5f3c3c;
  padding: 1rem 0;
}

.nav-link {
  margin-left: 1rem;
  margin-right: 1.5rem;
  text-decoration: none;
  color: #a19e9e;
  font-weight: bold;
  font-size: 1.5rem;
}

.latest-articles {
  text-align: center;
  font-size: 2.5rem;
}

.latest-article-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.dropdown-container {
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 20px;
}

#topic-select {
  font-size: 1rem;
  padding: 3px 5px;
  margin-left: 10px;
}

.sort-controls {
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.25rem;
}

#sort-by {
  font-size: 1rem;
  padding: 3px 5px;
  width: 6rem;
}

.order-btn {
  font-size: 1rem;
  padding: 3px 5px;
  margin-left: 10px;
}


.all-articles {
  text-align: center;
  font-size: 2.5rem;
}

.articles-list-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.article-card {
  display: flex;
  flex-flow: column wrap;
  width: 50vw;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.article-card h2 {
  margin-top: 0;
}

.article-section {
  margin-bottom: 1rem;
}

.article-section > article {
  line-height: 1.75rem;
}

.comments-section {
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}

.comments-section > h3 {
  font-size: 1.3rem;
  text-decoration: underline;
}

.comment-card {
  background-color: #474545;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.active {
  font-weight: bold;
  background-color: #606461;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

.vote-btn {
  font-size: 1.5rem;
  padding: 0.1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.error {
  color: red;
}

.success {
  color: rgb(89, 179, 89);
}

.add-comment > h3 {
  text-decoration: underline;
  font-size: 1.3rem;
}

textarea {
  width: 60vw;
  height: 7vh;
}

.post-comment-btn {
  margin-top: 20px;
  display: block;
  width: 20vw;
  padding: 5px 0;
  font-size: 1.2rem;
}

.delete-comment-btn {
  display: block;
  margin-top: 15px;
  padding: 3px 5px;
}