.container {
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.nav-link {
  margin-right: 1rem;
  text-decoration: none;
  color: #806c6c;
  font-weight: bold;
}

.article-card {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.article-card h2 {
  margin-top: 0;
}
